a-scene {
    z-index: 800;
}
.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}
#artworkTitle {
    background:rgba(0, 0, 0, 0.75);
    color: #FFF;
    text-shadow: 1px 1px 0 0 #ABABAB;
    position: fixed;
    bottom: 25vw;
    left: 2vw;
    font-family: Helvetica;
    font-size: 1.5rem;
    padding-left: 2px;
    padding-right: 2px;
}
body {
    margin: 0px;
    overflow: hidden;
    font-family: Helvetica;
}
#color-box-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.4s linear;
    z-index: 500;
    opacity: 0;
}
#color-box-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.4s linear;
    z-index: 499;
    opacity: 0;
}
.commands {
    position: fixed;
    bottom: -22vw;
    left: 0;
    width: 100vw;
    height: 22vw;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    z-index: 1000;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.commands div.button {
    width: calc( 16vw - 2px );
    height: calc( 16vw - 2px );
    border-radius: 50%;
    /*margin: 3vw 22.66vw 3vw 11.33vw;*/
    margin: 0 30.66vw 6vw 3.33vw;
    border: 1px solid #ABABAB;
    float: left;
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
}
.commands div.button:first-of-type {
    /*margin: 3vw 11.33vw 3vw 22.66vw;*/
    margin: 0 3.33vw 6vw 30.66vw;
}
.commands div.button.pressed {
    background-color: #B7B7B7;
}
.commands div.button img {
    margin: calc( 8vw - 1px ) calc( 4vw - 1px ) 0 calc( 4vw - 1px );
    width: 8vw;
    transform: translateY(-50%);
}
header {
    background-color: rgba(42, 57, 144, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 1000;
    text-align: center;
}
header a img {
    height: 50px;
    margin: 10px 0;
}
#info {
    position: fixed;
    top: 80px;
    width: 100vw;
    z-index: 1000;
}
#info p {
    color: #FFF;
    text-shadow: 1px 1px 0 #999;
    text-align: center;
    font-family: Helvetica;
    font-size: 1rem;
}


/* CSS for the intro page before launching the Web App */
.page-intro {
    font-family: 'Questrial', sans-serif;
    background-color: #2a3990;
    overflow: hidden;
    padding-top: 50vh;
}
.page-intro .container {
    transform: translateY(-50%);
    padding-bottom: 6%;
}
.page-intro .container .logo {
    background-image: url('../img/logo_home.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    max-width: 600px;
    height: 65vw;
    max-height: 400px;
    margin: 3% auto;
}
.page-intro .container p {
    color: #FFF;
    font-family: 'Questrial', sans-serif;
    padding: 0 10% 5% 10%;
    text-align: center;
    font-size: 4.5vw;
    line-height: 6vw;
}
.page-intro .container p span {
    color: rgb(226, 87, 69);
    font-weight: bold;
}
.page-intro .container a.button {
    background-color: #FFF;
    color: #3A3A3A;
    font-family: 'Questrial', sans-serif;
    padding: 4% 5%;
    text-align: center;
    font-size: 5vw;
    line-height: 6vw;
    text-decoration: none;
    width: 60%;
    display: block;
    border-radius: 3px;
    margin: 0 auto;
    font-weight: bold;
    box-shadow: 2px 2px #1A1A1A;
}
.page-intro .container a {
    color: #00ccff;
}
.page-intro .container a:hover {
    color: #59deff;
}

@media only screen and (min-width: 1080px) {
  .page-intro {
      font-family: 'Questrial', sans-serif;
      background-color: #2a3990;
      overflow: hidden;
      /*padding-top: 60%;*/
  }
  .page-intro .container .logo {
      background-image: url('../img/logo_home.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 90%;
      max-width: 600px;
      height: 65vw;
      max-height: 400px;
      margin: 3% auto;
  }
  .page-intro .container p {
      color: #FFF;
      font-family: 'Questrial', sans-serif;
      padding: 0 10% 3% 10%;
      text-align: center;
      font-size: 22px;
      line-height: 22px;
  }
  .page-intro .container a.button {
      background-color: #FFF;
      color: #3A3A3A;
      font-family: 'Questrial', sans-serif;
      padding: 2% 2%;
      text-align: center;
      font-size: 28px;
      line-height: 22px;
      text-decoration: none;
      width: 25%;
      display: block;
      border-radius: 3px;
      margin: 0 auto;
      font-weight: bold;
      box-shadow: 2px 2px #1A1A1A;
  }
}


/*Css for page where choosing between the Dashboard and Web App*/
@media only screen and (max-width: 600px) {
    .page-adv {
        font-family: 'Questrial', sans-serif;
        background-color: #2a3990;
        overflow: hidden;
    }
    .page-adv a {
        text-decoration: none;
        color: #FFF;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        width: 66%;
        margin: 1rem 0;
        border-radius: 3px;
        transition: all 0.2 ease-in-out;
    }
    .page-adv a:hover {
        background-color: rgba(0, 0, 0, 0.65);
        transition: all 0.2 ease-in-out;
    }
    .page-adv h1 {
        font-size: 3.5vw;
    }
    .page-adv img {
        width: 80%;
        margin: 10vh 0 2rem 0;
    }
}
@media only screen and (min-width: 600px) {
    .page-adv {
        font-family: 'Questrial', sans-serif;
        background-color: #2a3990;
        overflow: hidden;
    }
    .page-adv a {
        text-decoration: none;
        color: #FFF;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        width: 25%;
        margin: 1rem 0;
        border-radius: 3px;
        transition: all 0.2 ease-in-out;
    }
    .page-adv a:hover {
        background-color: rgba(0, 0, 0, 0.65);
        transition: all 0.2 ease-in-out;
    }
    .page-adv h1 {
        font-size: 1vw;
    }
    .page-adv img {
        width: 30%;
        margin: 5vh 0 2rem 0;
    }
}


/* CSS for the terms page */
.page-terms {
    font-family: 'Questrial', sans-serif;
    background-color: #fff;
    overflow: scroll;
}
.page-terms .container .logo {
    background-image: url('../../Dashboard/files/assets/images/arte_logo_black.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    max-width: 600px;
    height: 65vw;
    max-height: 400px;
    margin: 3% auto;
}
.page-terms .container h1,h4 {
    color: #000;
    font-family: 'Questrial', sans-serif;
    padding: 3% 5% 0 5%;
    text-align: left;
}
.page-terms .container p {
    color: #000;
    font-family: 'Questrial', sans-serif;
    padding: 0 5% 0 5%;
    text-align: left;
}
.page-terms .container ul {
  padding: 0 7% 0% 8%;
  text-align: left;
}

@media only screen and (min-width: 500px) {
  .page-terms .container h1,h4 {
      color: #000;
      font-family: 'Questrial', sans-serif;
      padding: 1% 2% 0 2%;
      text-align: left;
  }
  .page-terms .container p {
      color: #000;
      font-family: 'Questrial', sans-serif;
      padding: 0 2% 0% 2%;
      text-align: left;
  }
  .page-terms .container ul {
    padding: 0 3% 0% 3%;
    text-align: left;
  }
}
